.section-contact {
    padding-bottom: 30px;

    .form-box {
        label {
            font-size: 16px;
            color: $gray-1;
            margin-bottom: 15px;
            line-height: 1.4;
        }

        .button {
            justify-content: flex-end;
        }

        .form-control {
            margin-bottom: 30px;
            padding: 10px 15px;

            &:focus {
                border-color: $secundary;
                outline: 0;
                box-shadow: 0 0 0 0.25rem rgba(250, 224, 228, 0.80);
            }
        }
    }
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 750px;

    h1, h2, h3, h4, h5, h6 {
        font-family: "bookman-jf-pro", serif;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 16px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: "bookman-jf-pro", serif;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 16px;
    }

    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 12px;
    }

    .text-center {
        text-align: center;
    }

    .text-left {
        text-align: left;
    }
    
    .text-right {
        text-align: right;
    }
    
    .text-justify {
        text-align: justify;
    }

    p {
        font-size: 16px;
        color: $black;
        text-decoration: none;
        line-height: 1.5;
        margin-bottom: 16px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .contact-form {
        height: 100%;
        text-align: center;

        form {
            label {
                font-family: "bookman-jf-pro", serif;
                margin-bottom: 16px;
            }

            .form-control {
                min-height: 40px !important;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }

            textarea.form-control {
                min-height: 150px;
                resize: none;
            }
        }

        img {
            max-width: 180px;
            margin-bottom: 24px;
        }
    }
}