.hexagon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(-50%, -50%) rotate(120deg);
    width: 25px;
    height: 35px;
    background: transparent;
    // border-radius: 50%;
    overflow: hidden;

    .hexagon-inner {
        width: 100%;
        height: 100%;
        // border-radius: 50%;
        transform: rotate(-60deg);
        background: transparent;
        overflow: hidden;

        .hexagon-inner-in {
            width: 100%;
            height: 100%;
            // border-radius: 50%;
            transform: rotate(-60deg);
            background: $white;
            background-size: cover;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            &.primary {
                background-color: $primary;
            }
        }
    }
}