.single {
    margin-top: 200px;

    @media screen and (max-width: 991px) {
        margin-top: 130px;
    }

    .row-adjust {
        margin: 0 -4px;

        .col-md-9, .col-md-3 {
            padding: 0 4px;
        }

        .col-md-12 {
            padding: 0 4px;
        }
    }

    .section {
        padding: 32px 0;
        overflow: hidden;

        .category {
            text-align: right;
            .category-text {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-bottom: 8px;

                span {
                    margin-right: 8px;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: "bookman-jf-pro", serif;
            font-weight: 400;
            font-style: normal;
            margin-bottom: 16px;
        }

        h1 {
            font-size: 32px;
        }
        h2 {
            font-size: 28px;
        }
        h3 {
            font-size: 24px;
        }
        h4 {
            font-size: 20px;
        }
        h5 {
            font-size: 16px;
        }
        h6 {
            font-size: 12px;
        }

        .text-center {
            text-align: center;
        }

        .text-left {
            text-align: left;
        }
        
        .text-right {
            text-align: right;
        }
        
        .text-justify {
            text-align: justify;
        }

        p {
            font-size: 16px;
            line-height: 1.4;
            margin-bottom: 20px;
        }

        ul {
            margin: 20px 0;
            list-style: disc;
            list-style-position: inside;

            li {
                font-size: 16px;
                margin-bottom: 0;
            }
        }

        ol {
            margin: 20px 0;
            list-style: decimal;
            list-style-position: inside;

            li {
                font-size: 16px;
                margin-bottom: 0;
            }
        }
    }
}